/**index.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 200rpx 0;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250)
} 
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60rpx 0;
}

.userinfo-avatar {
  width: 200rpx;
  height: 200rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.login-from{
  width: 78%;
  box-shadow: 0 0 60rpx #ccc;
  border-radius: 10rpx;
  background-color: #fff;
  padding: 40rpx;
  font-size: 36rpx;
}
.logintxt{
  text-align: center;
  padding: 20rpx 0 40rpx;
}
.inputView{
  display: flex;
  direction: row;
  margin: 20rpx 0;
  padding: 20rpx 0;
}
.border-bottom{
  border-bottom: 1px solid #eee;
}
.inputView text{
  width: 26%;
}
.loginbtn button{
  font-size:1rem;
  background: #027aff;
  color: #fff;
  letter-spacing: 10rpx;
  margin-top: 40rpx;
  padding: 10rpx 0;
}
