/* components/search/search.wxss */
@import "../../resource/iconfont.wxss";

.search {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    color: #000;
    padding: 0rpx 20rpx;
    z-index: 9999999;
    border-bottom: 1px  #EDEDED solid;
}

.search-content {
    width: 60%;
    display: flex;
    align-items: center;
    border-radius: 50rpx;
}

.icon-sanjiaoxing {
    font-size: 26rpx;
    color: #fff;
}

.select {
    padding: 0rpx 20rpx 0rpx 0rpx;
    display: flex;
    width: 110rpx;
    height: 20px;
    line-height: 20px;
}
.adr{
    font-size: 26rpx;
    display: block;
    flex: 1;
    padding-right: 10rpx;
    overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
.text{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0rpx 20rpx;
    background: #F6F6F6;
    height: 68rpx;
    border-radius:60rpx;
}
.icon-search-1-copy{
    font-size: 24rpx;
    height: 60rpx;
    line-height: 60rpx;
    color: #A1A7AE;
}
.txt-search{
    flex: 1;
    height: 20px;
    line-height: 20px;
    padding-left: 10rpx;
    font-size: 24rpx;
    color: #A1A7AE;
}

.icon{
    font-size: 24rpx;
}